<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ i }} - {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <!-- {{ pessoa.nome }} -->
            <div v-for="(valor, chave, indice) in pessoa">
                {{ indice }} - {{ chave }} = {{ valor }}
            </div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Ana', idade: 26, peso: 59},
                {nome: 'Guilherme', idade: 22, peso: 89}
            ]
        }
    })
</script>
<style>
    ul {
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>